# Prototype database functions

You can do it in Colab!

## Install dependencies

In [ ]:
!pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.23)
Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/f2/1b/720b36697158113ca1b2221a8e96a470088ccf3770d182214689d1a96a07/psycopg2_binary-2.8.6-cp36-cp36m-manylinux1_x86_64.whl (3.0MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3.0MB 7.3MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6

## Provide your database URL

Run the code cell below, and enter your database URL into the prompt, in this format:

`dialect://user:password@host/dbname`

For example:

`postgresql://username:password@blah.blah.blah.us-east-1.rds.amazonaws.com/postgres`

If you don't have a Postgres database yet, you can use:

`sqlite:///`

In [3]:
import os
from dotenv import load_dotenv
load_dotenv()
database_url = os.getenv("DATABASE_URL")

ðŸš¨ Then clear the cell's output above, so people who view your notebook don't see your database credentials ðŸš¨

## Connect to your database

Just run this code cell as-is.

In [2]:
import sqlalchemy

engine = sqlalchemy.create_engine(database_url)
connection = engine.connect()

In [4]:
connection

## Prototype your functions

Use the connection within your function, like the examples below.

Then add your function to your FastAPI app in `app/db.py` like this:

```
@router.get('/myendpoint')  # or @router.post
async def my_function(my_parameter, connection=Depends(get_db)):
```

### Example 1

In [5]:
def get_url():
    """Verify we can connect to the database, 
    and return the database URL in this format:

    dialect://user:password@host/dbname
    
    The password will be hidden with ***
    """
    url_without_password = repr(connection.engine.url)
    return {'database_url': url_without_password}

In [6]:
get_url()

{'database_url': 'postgresql://postgres:***@keila-practice-db.cz9ccayvsbzl.us-east-1.rds.amazonaws.com/postgres'}

### Example 2

In [7]:
def write_data(df):
    tablename = 'mytable'
    df.to_sql(tablename, connection, if_exists='append', index=False, method='multi')

In [9]:
# Make some fake data
import pandas as pd
df = pd.util.testing.makeDataFrame()
df.head()

/Users/keila/.local/share/virtualenvs/labs-ds-starter-PL2rEkkV/lib/python3.9/site-packages/pandas/util/__init__.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
G6qu8EVERB  0.828278  0.383366  1.461959  0.478197
ABFweTWIaV  1.018695 -0.058199  1.351071 -1.942539
YZgAhuhlWt -0.068700 -0.375430  1.056483 -0.060662
npUsGIZLks  1.150382 -1.012637 -0.444802  0.235600
6B1h5lGI7U -0.006560 -0.113203 -1.604139 -0.587531

In [10]:
write_data(df)

### Example 3

In [14]:
def read_data():
    query = """SELECT * FROM mytable LIMIT 5"""
    df = pd.read_sql(query, connection)
    return df.to_dict(orient='records')

In [15]:
read_data()

[{'A': 0.8282781508964262,
  'B': 0.38336649566149306,
  'C': 1.461958543313097,
  'D': 0.4781965399527446},
 {'A': 1.0186952848324844,
  'B': -0.05819945245675347,
  'C': 1.3510709096428455,
  'D': -1.9425394691671005},
 {'A': -0.0686997571906553,
  'B': -0.37543018314454485,
  'C': 1.056482865194909,
  'D': -0.06066188421190237},
 {'A': 1.1503816134701677,
  'B': -1.0126366677863317,
  'C': -0.4448016938402888,
  'D': 0.23560025285705913},
 {'A': -0.006560040707327665,
  'B': -0.11320328515928009,
  'C': -1.604139093555333,
  'D': -0.5875310844306976}]